USE [master]
GO
/****** Object:  Database [HomeLoanDataBase]    Script Date: 16-06-2019 22:37:47 ******/
CREATE DATABASE [HomeLoanDataBase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HomeLoanDataBase', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\HomeLoanDataBase.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HomeLoanDataBase_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\HomeLoanDataBase_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HomeLoanDataBase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HomeLoanDataBase]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 16-06-2019 22:37:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AdminModels]    Script Date: 16-06-2019 22:37:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminModels](
	[Username] [nvarchar](20) NOT NULL,
	[Password] [nvarchar](15) NULL,
 CONSTRAINT [PK_dbo.AdminModels] PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoanDetails]    Script Date: 16-06-2019 22:37:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoanDetails](
	[LoanId] [int] IDENTITY(1,1) NOT NULL,
	[LoanAmntRequested] [float] NOT NULL,
	[LoanAmntSanctioned] [float] NOT NULL,
	[LoanStatus] [nvarchar](50) NULL,
	[InterestRate] [float] NOT NULL,
	[InterestRateType] [nvarchar](25) NULL,
	[Tenure] [int] NOT NULL,
	[RepaymentMode] [nvarchar](15) NULL,
	[DocumentSubmitted] [nvarchar](15) NULL,
	[Comments] [nvarchar](200) NULL,
	[Username_Username] [nvarchar](20) NULL,
 CONSTRAINT [PK_dbo.LoanDetails] PRIMARY KEY CLUSTERED 
(
	[LoanId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoanDocuments]    Script Date: 16-06-2019 22:37:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoanDocuments](
	[DocumentId] [int] IDENTITY(1,1) NOT NULL,
	[Document_Name] [nvarchar](25) NULL,
	[Document_Description] [nvarchar](100) NULL,
 CONSTRAINT [PK_dbo.LoanDocuments] PRIMARY KEY CLUSTERED 
(
	[DocumentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 16-06-2019 22:37:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](20) NULL,
	[Role] [nvarchar](5) NULL,
 CONSTRAINT [PK_dbo.Roles] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserModels]    Script Date: 16-06-2019 22:37:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserModels](
	[Username] [nvarchar](20) NOT NULL,
	[Password] [nvarchar](15) NULL,
	[FirstName] [nvarchar](25) NULL,
	[LastName] [nvarchar](25) NULL,
	[Email] [nvarchar](50) NULL,
	[Mailing_Address] [nvarchar](200) NULL,
	[City] [nvarchar](25) NULL,
	[State] [nvarchar](25) NULL,
	[Zip_Code] [nvarchar](15) NULL,
	[PAN_SSN_Number] [nvarchar](15) NULL,
	[Phone_Number1] [bigint] NOT NULL,
	[Phone_Number2] [bigint] NOT NULL,
	[Citizenship] [nvarchar](25) NULL,
	[Selfemployment] [nvarchar](3) NULL,
	[Current_Employer] [nvarchar](50) NULL,
	[Current_Income_Per_Annum] [float] NOT NULL,
 CONSTRAINT [PK_dbo.UserModels] PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AdminModels] ([Username], [Password]) VALUES (N'suvendu', N'mc')
SET IDENTITY_INSERT [dbo].[LoanDetails] ON 

INSERT [dbo].[LoanDetails] ([LoanId], [LoanAmntRequested], [LoanAmntSanctioned], [LoanStatus], [InterestRate], [InterestRateType], [Tenure], [RepaymentMode], [DocumentSubmitted], [Comments], [Username_Username]) VALUES (1, 500000, 0, N'pending', 10.2, N'compound', 3, N'cheque', N'Aadhar', N'For buying Durga PG', N'suvendu_bc')
INSERT [dbo].[LoanDetails] ([LoanId], [LoanAmntRequested], [LoanAmntSanctioned], [LoanStatus], [InterestRate], [InterestRateType], [Tenure], [RepaymentMode], [DocumentSubmitted], [Comments], [Username_Username]) VALUES (2, 1000000, 0, N'pending', 8.55, N'compound', 1, N'net_banking', N'DL', N'For buying Durga PG', N'jyotirmayasahu38')
INSERT [dbo].[LoanDetails] ([LoanId], [LoanAmntRequested], [LoanAmntSanctioned], [LoanStatus], [InterestRate], [InterestRateType], [Tenure], [RepaymentMode], [DocumentSubmitted], [Comments], [Username_Username]) VALUES (3, 560000, 0, N'pending', 8.55, N'compound', 1, N'dd', N'DL', N'For CVRCE', N'suvendu_bc')
SET IDENTITY_INSERT [dbo].[LoanDetails] OFF
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleId], [Username], [Role]) VALUES (1, N'suvendu', N'admin')
INSERT [dbo].[Roles] ([RoleId], [Username], [Role]) VALUES (2, N'suvendu_bc', N'user')
INSERT [dbo].[Roles] ([RoleId], [Username], [Role]) VALUES (3, N'jyoti', N'user')
SET IDENTITY_INSERT [dbo].[Roles] OFF
INSERT [dbo].[UserModels] ([Username], [Password], [FirstName], [LastName], [Email], [Mailing_Address], [City], [State], [Zip_Code], [PAN_SSN_Number], [Phone_Number1], [Phone_Number2], [Citizenship], [Selfemployment], [Current_Employer], [Current_Income_Per_Annum]) VALUES (N'jyoti', N'bhendibc', N'Jyotirmaya', N'Sahu', N'jyotirmayasahu38@gmail.com', N'Durga PG', N'Bangalore', N'Karnataka', N'560100', N'BHAGBC', 1234567899, 0, N'India', N'Yes', N'WIPRO', 350000)
INSERT [dbo].[UserModels] ([Username], [Password], [FirstName], [LastName], [Email], [Mailing_Address], [City], [State], [Zip_Code], [PAN_SSN_Number], [Phone_Number1], [Phone_Number2], [Citizenship], [Selfemployment], [Current_Employer], [Current_Income_Per_Annum]) VALUES (N'jyotirmayasahu38', N'qwerty', N'Jyotirmaya', N'Sahu', N'jyotirmayasahu38@gmail.com', N'Durga PG', N'Bangalore', N'Karnataka', N'560100', N'BHAGOBC', 1234567899, 9876543210, N'India', N'yes', N'WIPRO', 1000000)
INSERT [dbo].[UserModels] ([Username], [Password], [FirstName], [LastName], [Email], [Mailing_Address], [City], [State], [Zip_Code], [PAN_SSN_Number], [Phone_Number1], [Phone_Number2], [Citizenship], [Selfemployment], [Current_Employer], [Current_Income_Per_Annum]) VALUES (N'Subham', N'hello', N'subham', N'kamilla', N'kamilla@gmail.com', N'pg', N'bangalore', N'Karnataka', N'560100', N'ILIIJH', 2554255522, 2255411155, N'India', N'Yes', N'WIPRO', 350000)
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Username_Username]    Script Date: 16-06-2019 22:37:47 ******/
CREATE NONCLUSTERED INDEX [IX_Username_Username] ON [dbo].[LoanDetails]
(
	[Username_Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LoanDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LoanDetails_dbo.UserModels_Username_Username] FOREIGN KEY([Username_Username])
REFERENCES [dbo].[UserModels] ([Username])
GO
ALTER TABLE [dbo].[LoanDetails] CHECK CONSTRAINT [FK_dbo.LoanDetails_dbo.UserModels_Username_Username]
GO
USE [master]
GO
